.plain-box{
    width:100%;
    background-color: #fff(12, 2, 2);
    border-radius: 5px;
    box-shadow: 0.2px 2px #efefef;
    padding:20px;
    margin-top:20px;
}

.text{
    
    color:black
}

img{width:100%;height:200px;}

.view{
    font-weight: 100;
    text-decoration: none;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    border-radius: 200px;   
    margin-top:20px;
}

.view:hover,
.view:active {
    border: 1px solid #fff;
}

